USE [master]
GO
/****** Object:  Database [TecnoCell]    Script Date: 16/6/2019 11:43:02 AM ******/
CREATE DATABASE [TecnoCell]
 /*
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TecnoCell', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TecnoCell.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TecnoCell_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TecnoCell_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
*/
ALTER DATABASE [TecnoCell] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TecnoCell].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TecnoCell]
GO
/****** Object:  Table [dbo].[Acceso]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acceso](
	[Id_Acceso] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Acceso_Id_Acceso PRIMARY KEY CLUSTERED, 
	[Cargos] [nchar](30) NOT NULL,
	[Fecha] [datetime] NULL DEFAULT GETDATE()
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[Id_Articulo] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Articulo_Id_Articulo PRIMARY KEY CLUSTERED, 
	[Codigo] [nchar](10) NOT NULL,
	[Nombre] [nchar](20) NOT NULL,
	[Descripcion] TEXT NULL,
	[Id_Categoria] INT NOT NULL,
	[Fecha] [datetime] NULL DEFAULT GETDATE()
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_Categoria] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Categoria_Id_Categoria PRIMARY KEY CLUSTERED, 
	[Nombre] [nchar](20) NOT NULL,
	[Descripcion] TEXT NULL,
	[Fecha] [datetime] NULL DEFAULT GETDATE()
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Cliente_Id_Cliente PRIMARY KEY CLUSTERED, 
	[Nombre] [nchar](20) NOT NULL,
	[Apellido] [nchar](20) NOT NULL,
	[Genero] [nchar](20) NOT NULL,
	[Direccion] TEXT NULL,
	[Telefono] [nchar](10) NULL,
	[Correo] [nchar](50) NULL,
	[Fecha_Nacimiento] [datetime] NULL,
	[Fecha] [datetime] NOT NULL DEFAULT GETDATE()
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Compra](
	[Id_Compra] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Compra_Id_Compra PRIMARY KEY CLUSTERED, 
	[Id_Proveedor] INT NULL,
	[Id_Comprobante] INT NULL,
	[Id_Detalle_Compra] INT NULL,
	[Serie] [nchar](10) NULL,
	[Correlativo] [nchar](10) NULL,
	[Id_ISV] INT NULL,
	[Estado] [nchar](20) NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[Id_Comprobante] INT IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_Comprobante_Id_Comprobante PRIMARY KEY CLUSTERED, 
	[Tipo] [nchar](20) NOT NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Compra]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[Detalle_Compra](
	[Id_Detalle_Compra] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Detalle_Compra_Id_Detalle_Compra PRIMARY KEY CLUSTERED, 
	[Id_Articulo] INT NULL,
	[Detalle] [nchar](20) NULL,
	[Precio_Compra] FLOAT NOT NULL,
	[Precio_Venta] FLOAT NOT NULL,
	[Stock] INT NOT NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Venta]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE TABLE [dbo].[Detalle_Venta](
	[Id_Detalle_Venta] INT IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_Detalle_Venta_Id_Detalle_Venta PRIMARY KEY CLUSTERED, 
	[Id_Articulo] INT NOT NULL,
	[Detalle] [nchar](20) NULL,
	[Cantidad] INT NOT NULL,
	[Precio] FLOAT NOT NULL,
	[Descuento] FLOAT NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Empleado](
	[Id_Empleado] INT IDENTITY(1,1) NOT NULL
	CONSTRAINT PK_Empleado_Id_Empleado PRIMARY KEY CLUSTERED, 
	[Nombre] [nchar](20) NOT NULL,
	[Apellido] [nchar](20) NOT NULL,
	[Genero] [nchar](20) NOT NULL,
	[Id_Acceso] INT NULL,
	[Id_Usuario] INT NULL,
	[Id_Foto] INT NULL,
	[Fecha] [datetime] NULL
) 
GO
/****** Object:  Table [dbo].[Foto]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Foto](
	[Id_Foto] INT IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_Foto_Id_Foto PRIMARY KEY CLUSTERED, 
	[Foto] [image] NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ISV]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ISV](
	[Id_ISV] INT  IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_ISV_Id_ISV PRIMARY KEY CLUSTERED, 
	[ISV] FLOAT NOT NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] INT IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_Proveedor_Id_Proveedor PRIMARY KEY CLUSTERED, 
	[Nombre] [nchar](20) NOT NULL,
	[Sector_Comercial] [nchar](20) NULL,
	[Tipo_Documento] [nchar](20) NULL,
	[Documento] [nchar](20) NULL,
	[Direccion] [nchar](30) NULL,
	[Telefono] [nchar](10) NULL,
	[Correo] [nchar](30) NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] INT IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_Usuario_Id_Usuario PRIMARY KEY CLUSTERED, 
	[Nombre] [nchar](20) NOT NULL,
	[Contraseña] [nchar](20) NOT NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 16/6/2019 11:43:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Venta](
	[Id_Venta] INT IDENTITY (1,1) NOT NULL
	CONSTRAINT PK_Venta_Id_Venta PRIMARY KEY CLUSTERED, 
	[Id_Empleado] INT NULL,
	[Id_Cliente] INT NULL,
	[Id_Comprobante] INT NULL,
	[Id_Detalle_Venta] INT NULL,
	[Serie] [nchar](20) NULL,
	[Correlativo] [nchar](20) NULL,
	[Id_ISV] INT NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Articulo]
	ADD CONSTRAINT FK_Articulo_Id_Categoria$Categoria_Id_Categoria
	FOREIGN KEY ([Id_Categoria]) REFERENCES [dbo].[Categoria]([Id_Categoria])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO


ALTER TABLE [dbo].[Compra]
	ADD CONSTRAINT FK_Compra_Id_Proveedor$Proveedor_Id_Proveedor
	FOREIGN KEY ([Id_Proveedor]) REFERENCES [dbo].[Proveedor]([Id_Proveedor])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO

ALTER TABLE [dbo].[Compra]
	ADD CONSTRAINT FK_Compra_Id_Comprobante$Comprobante_Id_Comprobante
	FOREIGN KEY ([Id_Comprobante]) REFERENCES [dbo].[Comprobante]([Id_Comprobante])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO

ALTER TABLE [dbo].[Compra]
	ADD CONSTRAINT FK_Compra_Id_Detalle_Compra$Detalle_Compra_Id_Detalle_Compra
	FOREIGN KEY ([Id_Detalle_Compra]) REFERENCES [dbo].[Detalle_Compra]([Id_Detalle_Compra])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO

ALTER TABLE [dbo].[Compra]
	ADD CONSTRAINT FK_Compra_Id_ISV$ISV_Id_ISV
	FOREIGN KEY ([Id_ISV]) REFERENCES [dbo].[ISV]([Id_ISV])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO


ALTER TABLE [dbo].[Detalle_Compra]
	ADD CONSTRAINT FK_Detalle_Compra_Id_Articulo$Articulo_Id_Articulo
	FOREIGN KEY ([Id_Articulo]) REFERENCES [dbo].[Articulo]([Id_Articulo])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO



ALTER TABLE [dbo].[Detalle_Venta]
	ADD CONSTRAINT FK_Detalle_venta_Id_Articulo$Articulo_Id_Articulo
	FOREIGN KEY ([Id_Articulo]) REFERENCES [dbo].[Articulo]([Id_Articulo])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO




ALTER TABLE [dbo].[Empleado]
	ADD CONSTRAINT FK_Empleado_Id_Acceso$Acceso_Id_Acceso
	FOREIGN KEY ([Id_Acceso]) REFERENCES [dbo].[Acceso]([Id_Acceso])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO

ALTER TABLE [dbo].[Empleado]
	ADD CONSTRAINT FK_Empleado_Id_Usuario$Usuario_Id_Usuario
	FOREIGN KEY ([Id_Usuario]) REFERENCES [dbo].[Usuario]([Id_Usuario])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO

ALTER TABLE [dbo].[Empleado]
	ADD CONSTRAINT FK_Empleado_Id_Foto$Foto_Id_Foto
	FOREIGN KEY ([Id_Foto]) REFERENCES [dbo].[Foto]([Id_Foto])
	ON UPDATE NO ACTION
	ON DELETE NO ACTION
GO


--DROP DATABASE TecnoCell
--GO